html *
{
    font-family: "Rubik Mono One", monospace;
}

body {
    overflow: hidden;
    background-color: #DBD7D2;
}

h1, h2, h3 {
    color: #08415C;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

p {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon {
    height: 50px;
    width: auto;
    transition: all 0.3s ease;
    color: #CC2936; /* This sets the color for text elements */
    fill: #CC2936;
}

.icon:hover {
    transform: scale(1.1);
    fill: #FF5733; /* Change the fill color on hover */
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.logo {
    height: 150px;
    width: auto;
    transition: all 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.menu-button {
    width:300px;
    height: 60px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: #CC2936;
    border:0px;
    box-shadow: 
        inset 5px 5px 0px rgba(255, 184, 184, 0.8), /* White shadow inside with gap */
        5px 5px 0px #08415C; /* Black shadow outside */
    
    transition: 0.3s;
}

.menu-button:hover {
    transform: scale(1.07);
    background-color: #f9747f;

}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flag {
    height: 75px;
    width: auto;
    filter: drop-shadow(1px 3px 3px #00000022);
}

.textbox {
    margin: auto;
    width: 300px;
    height: 50px;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;
}

.top-row {
    position: absolute;
    margin-top:10px;
}

.difficulty-selector {
    width:75%;
    margin:auto;
}

.very-small-flag{
    margin-bottom:5px;
    margin-right:5px;
    width: 20px;
    height: auto;
}

.language-selector {
    margin-left:30px;
    font-size: 20px;
}

.settings-button {
    width:300px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #CC2936;
    border:0px;
    box-shadow: 
        inset 5px 5px 0px rgba(255, 184, 184, 0.8), /* White shadow inside with gap */
        5px 5px 0px #08415C; /* Black shadow outside */
    
    transition: 0.3s;
}

.settings-button:hover {
    transform: scale(1.07);
    background-color: #f9747f;
}

.dropdown-menu {
    padding-left:30px;
    background-color: transparent;
    border: none;
}

.center {
    justify-content: center;
}

.form-label {
    position: relative;
    padding: 10px;
    font-size: 30px;
    font-weight: 850;
    color: #CC2936;
}

#difficulty-label {
    transition: all 0.1s;
}
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    margin-top: -12px; /* Centers thumb on the track */
    background-color: #CC2936;
    height: 2rem;
    width: 1rem; 
    
    border: 0;
    border-radius: 0px;
    box-shadow: none;
 }

 /***** Focus Styles *****/
  
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]:focus::-webkit-slider-thumb {
    background-color: #CC2936;
    outline: none;
    border: 0px ;
    box-shadow: none;

  }

.shaking {
    animation: tilt-shaking 0.2s infinite;
}


  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  @keyframes flicker {
    /* Initial state of animation */
    0%, 
    /* Final state of animation */
    100% { 
        text-shadow: 
            0 -1px 3px #fff, /* Innermost layer - intense heat (white) */
            0 -2px 6px #FF3, /* Second layer - core of flame (yellow) */
            0 -6px 12px #F90, /* Middle layer - body of flame (orange) */
            0 -10px 20px #C33; /* Outermost layer - edges of flame (red) */
    }
    /* Middle state of animation */
    50% { 
        text-shadow: 
            0 -2px 6px #fff, /* Innermost layer - intense heat (white) */
            0 -4px 12px #FF3, /* Second layer - core of flame (yellow) */
            0 -8px 16px #F90, /* Middle layer - body of flame (orange) */
            0 -12px 24px #C33; /* Outermost layer - edges of flame (red) */
    }
}

.score-label {
    font-size: 30px;
    font-weight: bold;
    color: #08415C;
}

.finish-modal {
    /* display: none; Ensure the dialog is displayed */
    position: absolute;
    margin: auto;
    width: 75%;
    height: 75%;
    background-color: #DBD7D2;
    border:0;
    border-radius: 15px;
    box-shadow: inset 5px 5px 0px rgba(255, 184, 184, 0.347), /* White shadow inside with gap */
        6px 9px 0px #08415C; /* Black shadow outside */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#about-modal {
    display: block;
    height: auto;
    width: 75%;
}



@media (max-width: 600px) {
    .flag {
        width: 75px; 
    }

    .textbox {
        width: 250px;
        font-size: 20px;
    }

    .menu-button {
        width:250px;
        height: 50px;
        font-size: 25px;
    }

    .top-row {
        margin-top: 20px;
    }
}
