.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.font {
    font-size: 18px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}

.flag {
    width: 100px; 
    height: auto;
}

.textbox {
    margin-left:15px;
    width: 300px; 
    font-size: 30px;
    transition: 0.3s;
}

.blue-button {
    text-align: left;
    height: 50px;
    width:150px;
    border-radius: 12px;
    background-color: #053a5f;
    color: white;   
    font-size:20px;
    transition:0.3s;
    border:0px;
}
.blue-button:hover {
    color:white;
    background-color: #3fafff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.shadowed {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#skip-button {
    margin-top:20px;
    font-size: 20px;
}

.language-selector {
    margin-left:30px;
    font-size: 20px;
}

.small-flag{
    margin-right:10px;
    width: 30px;
    height: auto;
}

.very-small-flag{
    margin-bottom:5px;
    margin-right:5px;
    width: 20px;
    height: auto;
}

.difficulty-selector {
    width:50%;
    margin:auto;
    margin-right: 30px;
}

#difficulty-amount {
    font-size:20px;
    font-weight: bold;
    color: rgb(113, 0, 142);
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 0.5rem;
}
  
  /******** Firefox ********/
input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 0.5rem;
}

@media (max-width: 600px) {
    .flag {
        width: 75px; 
    }

    .textbox {
        width: 250px;
        font-size: 20px;
    }
}
